:root {
    --hero-primary-text-color: #f9faf8;
    --hero-secondary-color: #e5e7eb;
    --accent-color: #3882f6;
    --hero-background: #1f2937;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo {
    font-size: 1.5rem;
    color: var(--hero-primary-text-color);
}

.hero-main-text {
    font-size: 3.0rem;
    font-weight: 800;
}

.hero-secondary-text,
.header-link-text {
    color: var(--hero-secondary-color);
}

.dark {
    background-color: var(--hero-background);
    color: var(--hero-primary-text-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header .links {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 20px;
}

.header .links a {
    text-decoration: none;
    color: var(--hero-primary-text-color);
}

.awesome {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.signup {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup button {
    background-color: var(--accent-color);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    padding: 10px 35px;
}

.information-header {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--hero-background);
}